


.dash-main{
    margin-left: 5%;
    margin-right: 5%;
    display: grid;  
    grid-template-columns: 1fr 1fr;

}

 .display{ 
    display:flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin: 5px;
    justify-content: space-evenly;

}

/*.workout-chart{
 grid-column-start: 0;
 grid-column-end: 1;
} */

.workouts-display{
  margin:5px;
  padding: 5px;
  background-color: grey;
  border-radius: 10px;
  opacity: 0.7;

}


.workouts-display:hover {
  opacity: 1.0;
}