/*search.css */


#searchForm{
	border: 1px solid #fff;
    height: 180px;
    width: 100%;
    min-width: 460px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 0px #ccc;
    min-width: 580px;
}

.search-input{
	width: 40%;
	text-align: center;
	padding: 10px 21px;


}

.submit-button{
	border-radius: 5px;
	border:1px solid ;
	display:inline-block;
	cursor:pointer;
	font-size: 10px;
	padding: 10px 21px;

}
