.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-color: #282c34;
  min-height: 3vh;
  display: grid;
  grid-template-columns: 10% 10% 60% 10% 10% ;
  /* grid-template-rows:  40% auto auto; */
  font-size: calc(8px + 1.5vmin);
  color: white;
  padding-bottom: 1px;
  margin-bottom: 1em;

}

 .App-header, h1{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;

}

.App-header, h3{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2 ;

}

.session-links{
  margin: 3px;
  background-color: aliceblue;
  border: none;


}


.session-section{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;

  display: flex;
  flex-direction: row;
}


.App-header, menu{
  grid-column-start: 3;
  grid-column-end:3;
  grid-row-start: 3;

}
.nav-links{
  padding: 3px;
  margin: 3px;
}
