.calendar {
  border: 2px solid #f6f7fa;
  border-radius: 6px;
  padding: 10px;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  display: block;
  overflow: hidden;
  position: absolute;
  border-collapse: separate;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125);
 border-radius: 3px;
  -webkit-border-radius: 3px;

}

.calendar-nav{
	width: 100%;
 	margin: 0;
  	padding: 0;
  	display: table;
  	border-spacing: 0;
  	border-collapse: separate;
  	background-color: #D3D3D3;
  	border-radius: 3px 3px 0 0;
  	-webkit-border-radius: 3px 3px 0 0;


}