.calendar {
  border: 2px solid #f6f7fa;
  border-radius: 6px;
  padding: 10px;
  background-color: #ffffff;
  width: 100%;
  padding: 0;
  display: block;
  overflow: hidden;
  position: absolute;
  border-collapse: separate;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125);
 border-radius: 3px;
  -webkit-border-radius: 3px;

}

