.calendar {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  padding: 0;
  display: block;
  overflow: hidden;
  border-collapse: separate;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125);
 border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 15px;

}

.calendar:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  visibility: hidden;
}

.calendar.calendar-static {
  margin-left: auto;
  margin-right: auto;
}
.calendar-nav{
	width: 100%;
 	margin: 0;
  	padding: 0;
  	display: table;
  	border-spacing: 0;
  	border-collapse: separate;
  	background-color: #D3D3D3;
  	border-radius: 3px 3px 0 0;
  	-webkit-border-radius: 3px 3px 0 0;

}

 .calendar-nav span {

  cursor: pointer;
  color: #fff;
  margin: 0;
  padding: 0;
  display: table-cell;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
}



.calendar .calendar-nav span:first-child,
.calendar .calendar-nav span:last-child {
  width: 35px;
  padding: 0 0 5px 0;
  font-size: 22px;
}

.calendar-label{
	color: #778899;
  margin: 5px 0 0 0;
  padding: 0;
  display: block;
  font-size: 12px;
  line-height: 12px;
}


.button-prev {
  background-image: url("../../assets/images/back.svg") ; 
}
.button-next {
  background-image: url("../../assets/images/next.svg") 
}


.calendar-nav span:first-child,
.calendar-nav span:last-child {
  width: 35px;
  padding: 0 0 5px 0;
  font-size: 22px;
}

.calendar .calendar-date{
	width: 100%;
	margin: 0;
  	padding: 0;
  	display: block;
  	color: #ffffff;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
	line-height: 35px;
	border: 0;
	background-color: #223344;
}



.calendar .calendar-date table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}



.calendar .calendar-date table thead tr > *,
.calendar .calendar-date table tbody tr > * {
  color: #ffffff;
  width: 35px;
  height: 35px;
  padding: 0;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  line-height: 35px;
  border: 0;
  background-color: #223344;
}

.calendar-date table tbody tr > * {
  color: #334455;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  background-color: #ffffff;
}

.calendar-date table tbody tr > * > span {
  color: inherit;
  z-index: 10;
  position: relative;
}


.calendar-date table tbody tr > * > span {
  color: inherit;
  z-index: 10;
  position: relative;
}



.calendar .calendar-date table.calendar-month tbody tr > * {
  width: 81.66666666666667px;
  padding: 5px;
  line-height: 25px;
}
.calendar .calendar-date table.calendar-month tbody tr > * span {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.calendar
  .calendar-date
  table.calendar-month
  tbody
  tr
  > *:hover
  span {
  border-color: #d0d0d0;
  box-shadow: 0 1px 0 0 #efefef;
  -webkit-box-shadow: 0 1px 0 0 #efefef;
}
